In [8]:
import pandas as pd
import numpy as np

### Reading Global PV potential data !!

In [9]:
# Reading xlxs data !!
file='data/raw/Global_Photovoltaic_Potential_Country_Rankings.xlsx'
sheet = 'Country indicators'
dfs = pd.read_excel(file, sheet_name=sheet, skiprows=1)

In [10]:
dfs.head()

,ISO_A3,Country or region,Note,World Bank \nRegion,"Total population, 2018","Total area, 2018",Evaluated area,Level 1 area \n(% of evaluated area),"Human development \nIndex, 2017","Gross domestic product (USD per capita), 2018",...,"Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term","Average economic potential (LCOE, USD/kWh), 2018","Average PV \nseasonality index, long-term","PV equivalent area (% of total area), long-term","Cummulative installed PV capacity (MWp), 2018","Cummulative installed PV capacity (Wp per capita), 2018","Access to electricity\n(% of rural population), 2016","Electric power consumption (kWh per capita), 2014","Reliability of supply and transparency of tariff index, 2019","Approximate electricity \nTariffs for SMEs \n(US cent/kWh), 2019"
0,ABW,Aruba (Neth.),NaN,Other,105845,180.0,180,0.847926,NaN,25630.266492,...,4.9646,0.0853,1.1803,NaN,6.1,57.631442,92.452844,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,SOA,37172386,652860.0,652860,0.587350,0.497695,520.896603,...,5.0159,0.0851,1.6665,NaN,22.0,0.591837,78.961074,NaN,0.0,17.6
2,AGO,Angola,NaN,AFR,30809762,1246700.0,1246700,0.751833,0.581179,3432.385736,...,4.6586,0.0919,1.3211,0.003,13.4,0.434927,15.984209,312.228825,3.0,4.6
3,ALB,Albania,NaN,ECA,2866376,27400.0,27400,0.614858,0.784911,5253.630064,...,4.0426,0.1051,2.3266,0.210,1.0,0.348873,100.000000,2309.366503,3.0,8.7
4,AND,Andorra,NaN,Other,77006,470.0,470,0.110961,0.857684,42029.762737,...,4.1990,0.0986,2.1531,NaN,0.0,0.000000,100.000000,NaN,NaN,NaN

In [18]:
columns = dfs.columns

print(columns)

Index(['ISO_A3', 'Country or region', 'Note', 'World Bank \nRegion',
       'Total population, 2018', 'Total area, 2018', 'Evaluated area',
       'Level 1 area \n(% of evaluated area)',
       'Human development \nIndex, 2017',
       'Gross domestic product (USD per capita), 2018',
       'Average theoretical potential (GHI, kWh/m2/day), \nlong-term',
       'Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term',
       'Average economic potential (LCOE, USD/kWh), 2018',
       'Average PV \nseasonality index, long-term',
       'PV equivalent area (% of total area), long-term',
       'Cummulative installed PV capacity (MWp), 2018',
       'Cummulative installed PV capacity (Wp per capita), 2018',
       'Access to electricity\n(% of rural population), 2016',
       'Electric power consumption (kWh per capita), 2014',
       'Reliability of supply and transparency of tariff index, 2019',
       'Approximate electricity \nTariffs for SMEs \n(US cent/kWh), 2019'],
      dtype='object')

In [21]:
# extracting ISO_A3 , Average Theoratical potential and Average practical potential data !!
temp1 = dfs[['ISO_A3', 'Average theoretical potential (GHI, kWh/m2/day), \nlong-term',
    'Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term' , 
    'Average economic potential (LCOE, USD/kWh), 2018','Cummulative installed PV capacity (MWp), 2018',
     'Cummulative installed PV capacity (MWp), 2018', 'Cummulative installed PV capacity (Wp per capita), 2018'     
            ]]

In [22]:
temp1.head()

,ISO_A3,"Average theoretical potential (GHI, kWh/m2/day), \nlong-term","Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term","Average economic potential (LCOE, USD/kWh), 2018","Cummulative installed PV capacity (MWp), 2018","Cummulative installed PV capacity (MWp), 2018","Cummulative installed PV capacity (Wp per capita), 2018"
0,ABW,6.1098,4.9646,0.0853,6.1,6.1,57.631442
1,AFG,5.4904,5.0159,0.0851,22.0,22.0,0.591837
2,AGO,5.7467,4.6586,0.0919,13.4,13.4,0.434927
3,ALB,4.1954,4.0426,0.1051,1.0,1.0,0.348873
4,AND,4.0490,4.1990,0.0986,0.0,0.0,0.000000

In [23]:
# Reading ISO_A3 file and merging it with the original file !

ISO_A3 = pd.read_csv('data/raw/ISO_A3.csv')

for i in range(len(ISO_A3)):
    ISO_A3.iloc[i, 2] = ISO_A3.iloc[i,2].replace('"', '').replace(" ", '')
    ISO_A3.iloc[i, 4] = float(ISO_A3.iloc[i,4].replace('"', '').replace(" ", ''))
    ISO_A3.iloc[i, 5] = float(ISO_A3.iloc[i,5].replace('"', '').replace(" ", ''))

In [24]:
ISO_A3.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""",AFG,"""4""",33.0,65.0
1,Albania,"""AL""",ALB,"""8""",41.0,20.0
2,Algeria,"""DZ""",DZA,"""12""",28.0,3.0
3,American Samoa,"""AS""",ASM,"""16""",-14.3333,-170.0
4,Andorra,"""AD""",AND,"""20""",42.5,1.6

In [27]:
# Merging both together !!

temp_2 = temp1.merge(ISO_A3, left_on='ISO_A3', right_on='Alpha-3 code')
temp_2 = temp_2[['ISO_A3',
       'Average theoretical potential (GHI, kWh/m2/day), \nlong-term',
       'Average practical potential \n(PVOUT Level 1, \nkWh/kWp/day), long-term',
       'Average economic potential (LCOE, USD/kWh), 2018',
       'Cummulative installed PV capacity (MWp), 2018',
       'Cummulative installed PV capacity (MWp), 2018',
       'Cummulative installed PV capacity (Wp per capita), 2018', 'Country',
       'Latitude (average)',
       'Longitude (average)']]
temp_2.to_csv('temp_2.csv', index=None)

In [33]:
avg_the_pot = temp_2[['Latitude (average)',
                       'Longitude (average)',
                         'Cummulative installed PV capacity (Wp per capita), 2018' ]]

avg_the_pot.to_csv('5. cumulative installed PV capacity per capita.csv', index=None)